@font-face {
  font-family: "CeraPro-Regular";
  src: url("fonts/CeraPro-Regular.eot");
  src: url("fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPro-Regular.woff2") format("woff2"), url("fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro-Medium";
  src: url("fonts/CeraPro-Medium.eot");
  src: url("fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPro-Medium.woff2") format("woff2"), url("fonts/CeraPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CeraPro-Regular";
}

h1 {
  font-family: "CeraPro-Medium";
  margin-bottom: 1em;
  font-size: 2.5em;
}

h2 {
  font-family: "CeraPro-Medium";
  margin-bottom: 0.2em;
  font-size: 2em;
}

a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
}
a:visited, a:hover, a:active, a:focus {
  color: rgba(255, 255, 255, 0.95);
}

body {
  color: rgba(255, 255, 255, 0.95);
  background-image: linear-gradient(to right, #2b3040, #4a4a4a);
}
body main section .content-container {
  min-height: 40vh;
  padding: 2em 2em;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body main section .content-container .col-1 {
  min-width: 50%;
  z-index: 1;
}
body main section .content-container .col-2 {
  min-width: 50%;
  z-index: 1;
}
body main section .content-container .col-1 img,
body main section .content-container .col-2 img {
  display: none;
  width: 100%;
}
body main section .content-container p {
  margin-bottom: 1em;
}
body main section:nth-child(2n) {
  position: relative;
  background-color: white;
  transform: skewY(-6deg);
}
body main section:nth-child(2n) .content-container {
  color: rgba(0, 0, 0, 0.75);
  transform: skewY(6deg);
}
body main section:nth-child(2n) div {
  color: rgba(0, 0, 0, 0.75);
}

.call-to-action.red {
  background-color: #c7001c;
}

.col-1,
.col-2 {
  margin-bottom: 1em;
}

.menu-header {
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-header .nav-menu {
  list-style: none;
  display: none;
}
.menu-header .nav-menu li {
  margin-left: 1em;
}
.menu-header img {
  height: 3em;
}
.menu-header i {
  font-size: 2em;
}

.call-to-action {
  display: inline-block;
  background: #2b3040;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1em;
  border-radius: 2em;
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.95);
}
.call-to-action:hover {
  background: #545e7d;
}
.call-to-action:visited, .call-to-action:hover, .call-to-action:active, .call-to-action:focus {
  color: rgba(255, 255, 255, 0.95);
}

.section-hero:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  content: "";
  background-image: url("/public/images/point-map.svg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

@media only screen and (min-width: 600px) {
  .menu-header {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
  }

  body main section .content-container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
    flex-wrap: nowrap;
  }
  body main section .content-container .col-1 {
    padding-right: 1em;
  }
  body main section .content-container .col-2 {
    padding-left: 1em;
  }
  body main section .content-container .col-1 img,
body main section .content-container .col-2 img {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-header {
    width: 70%;
  }

  body main section .content-container {
    width: 70%;
  }

  .menu-header .nav-menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-header .nav-menu .call-to-action {
    background-color: #c7001c;
  }
  .menu-header i {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
